{% extends "polls/base.html" %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <h1>About</h1>
    <p>This is a website that allows you to practice questions for middle schoolers.</p>
    <div>
    <p>Created by: <a href="https://github.com/electricman991" target="_blank">Braiden Sommer</a></p>
    <p><a href="https://github.com/jonecars" target="_blank"> Carson Jones</a></p>
    <p><a href="https://github.com/GetHelpPlz" target="_blank"> Noah Li</a></p>
    <p><a href="https://github.com/W33bWhacker" target="_blank"> Josey Harger</a></p>
    <p><a href="https://github.com/j-dabling" target="_blank"> Jacob Dabling</a></p>
    
    
    </div>
    
</body>
</html>
{% endblock content %}