{% extends 'polls/base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'detail.css'%}" />
    <title>Document</title>
</head>
<body>
    <form method="post", enctype="multipart/form-data">
        
        {% csrf_token %}
        
        <fieldset >
            <legend id="topic"><h1 id="topic">{{ subject.subject_text }}</h1></legend>
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            {{ form.as_p }} 
            {% with count=1 %}
            
            <!--{% for choice in question_list %} -->

                <p>Question{{ forloop.counter }}/10</p> 

                <!--<input type="radio" name="answer_choice" id="answer_choice{{ forloop.counter }}" value="{{ answer.id }}">-->
                <!--<p>{{ choice.question_text }}</p><br> -->
                <p id="questions">{{ choice.question_text }}</p><br>

                {% if choice.question_text == "What must a rectangle have to make it a rectangle?"%}
                    <p>A: Four sides</p>
                    <p>B: Four right angles</p>
                    <p>C: Three equal sides</p>
                    <p>D: Four equal angles</p>
                {% elif choice.question_text == "Josh claims that these triangles are similar by SSS. Do you agree or disagree with Josh?"%}
                    <img src="/static/Triangles.png" alt="Triangles"> <br>

                {% elif choice.question_text == "Use f(x) and g(x) to find g(x) - f(x)."%} 
                    <p>Here, f(x) = -x + 5 and g(x) = 3x + 2.</p>
                
                {% elif choice.question_text == "Rewrite the equation below using only the Symmetric Property of Equality" %}
                    <p>3x + 2x + 1 = 4x + 8</p>
                {% endif %}
                
                

                {% for answer in choice.answer_set.all %}
                    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                    <label for="choice{{ forloop.counter }}">{{ answer.answer_text }}</label><br>
                    <!--<label id="answers" for="choice{{ forloop.counter }}">{{ answer.answer_text }}</label><br>-->
                {% endfor %}
                
            {% endfor %}
            <!--</form> -->
             
            {% endwith %}
        </fieldset>
        <input type="submit" value="Previous" name="previous">
        <input type="submit" value="Submit" name="submit">
        <input type="submit" value="Next" name="next">

        
    
    </form>
    
</body>
</html>
{% endblock content %}
