#topic {
    text-align: center;
    font-size: 40px;
    }
    
#questions {
        font-size: 35px;
        background-color: #51AEEC;
        border-radius: 10px;
        font-weight: bold;
    }
    
#answers{
        font-size: 25px;
        background-color: #4BE10B;
        border-radius: 20px;
    }

#submit {
        font-size: 25px;
        border-radius: 10px;
    }

#submit:hover, #submit:active {
        background: #30A4CE;
        color: black;
    }


