li {
    font-size: 100px;
    text-align: justify;
    list-style-position: inside;
    padding: 50px;
    margin-left: 180px;
    list-style: none;
}

body {
    background-color: #f5f5f5;
}
button {
    font-size: 25px;
    padding: 15px;
    
}

.subject {
    font-size: 75px;
    
}

#subject1 {
    background-color: blue;

}

#subject2 {
    background-color: red;
}

#subject3 {
    background-color: green;
}

#title {
    font-size: 100px;
    margin: auto;
    text-align: center;
    font-family: copperplate;
    padding-top: 20px;
}

#subheading {
    font-size: 30px;
    font-style: italic;
    margin: auto;
    text-align: center;
    padding: 20px;
    font-family: Arial;
}

#instruction {
    font-size: 30px;
    margin-left: 280px;
    padding-top:20px;
    font-family: Arial; 
}
