.points {
    font-size: 50px;
    font-weight: bold;
    color: #000;
    margin: 0;
    padding: 0;
    text-align: center;
}

p {
    font-size: 25px;
    color: #000;
    margin: 0;
    padding: 0;
    
}

#question {
    
    margin-bottom: 5px;
}

#answers {
    margin-left: 50px;
}
#correct{
    border-radius: 25px;
    background: #6BAA75;
    padding: 20px;
    width: 500px;
    height: 140px;
    color: black;
}
#youranswer{
    border-radius: 25px;
    background :#C95D63;
    padding: 20px;
    width: 500px;
    height: 140px;
    color: black;
    
}

.result-instructions {
    font-size: 30px;
    color : blue;
}

